.profile-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-content {
    display: flex;
    gap: 2rem;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.exercise-logs {
    flex: 2;
}